<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @survey.survey_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Consumer:</strong>
  <%= @survey.consumer.email+' '+@survey.consumer.ip_address %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
